.order {
  color: white;
  margin-top: 1rem;
  position: relative;
}
.order__container {
  position: relative;
  min-height: 50rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  margin: 0 10em;
  margin-top: 2%;
}
.presentaion {
  grid-column: span 7;
  width: 100%;
}
.text {
  color: #767676;
  display: flex;
  text-wrap: pretty;
  font-size: 13px;
  :last-child {
    display: inline-block;
  }
  :first-child {
    display: block;
    width: 8%;
    height: 8%;
    margin-right: 1%;
  }
}
.descriprion {
  background-color: black;
  color: white;
  border: 5px solid #fddd0a;
  border-radius: 1em;
  grid-row: 1 / 2;
  grid-column: 8 / 13;
}
.descriprion header h2 {
  font-size: calc(20px + 10 * (100vw / 1980));
  padding-top: 1em;
  font-weight: 600;
  display: inline-block;
}
.descriprion__container {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
  height: 100%;
  justify-content: space-around;
}
.background {
  display: block;
  width: 100%;
  height: 96%;
  position: absolute;
  object-fit: fill;
  img {
    width: 100%;
    height: 100%;
  }
}
.order__header {
  min-height: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  margin: 0 1em;
  position: relative;
  a
  {
    display: inline-block;
  }
  h2 {
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 400;
    color: white;
    margin-left: 10rem;
    position: relative;
  }

}
.order__header h2::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 1px;
  background: #fddd0a;
}
.order__header h2::after {
  width: 0;
  transition: 0.3s;
}
.order__header h2:hover:after {
  width: 100%;
}
.img__body {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.consumption {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin: 2em 0;
}
.consumption *:not(p) {
  display: flex;
  justify-content: space-between;
}
.consumption__CO2 {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  margin-top: 0;
}
.button {
  transition: all ease 1000ms;
  display: flex;
  justify-content: center;
  border: 1px solid #fddd0a;
  padding: 2.5%;
  font-size: 1rem;
  font-family: "Poppins";
  color: #fddd0a;
  background: linear-gradient(to left, transparent 50%, #fddd0a 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
  width: auto;
  button {
    text-transform: uppercase;
    color: #fddd0a;
    font-size: 1rem;
    border: 0;
    background-color: transparent;
  }
  :last-child {
    position: relative;
    font-size: 1.3em;
    top: 1px;
  }
}
.button:hover {
  background-position: left;
  color: black;
  button {
    text-transform: uppercase;
    color: black;
  }
}

.types {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 10rem;
  max-width: 33rem;
}
.types *:not(svg) {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
  font-weight: 600;
  svg {
    margin: 0 10px;
    margin-left: 0;
    color: #767676;
    font-size: 1.5rem;
  }
}
.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Poppins";
}
.prices * {
  padding-top: 40px;
  border-radius: 10px;
}
.prices__price {
  position: relative;
}
.prices__price::before {
  content: "Recommended price manufacturer";
  position: absolute;
  top: 7px;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}
.prices__monthlyrent {
  position: relative;
}
.prices__monthlyrent::before {
  content: "Monthly rent";
  position: absolute;
  top: 7px;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .order__container {
    display: flex;
    flex-direction: column;
  }
  .presentaion {
    padding-bottom: 10%;
  }
  .img__body {
    padding-bottom: 10%;
  }
  .descriprion {
    padding: 4%;
  }
}

@media screen and (max-width: 860px) {
  .img__body {
    padding-bottom: 10%;
    img {
      width: 90%;
      height: 90%;
    }
  }
  .order__container {
    margin: 0 1em;
    margin-top: 5em;
  }
  .order__header h2{
    margin-left: 1em;
  }
}

@media (prefers-color-scheme: light) {
  .order__header {
    background-color: white;
    border: none;
    h2 {
      color: #767676;
    }
  }
  .descriprion {
    background-color: white;
    color: black;
    grid-row: 1 / 2;
    grid-column: 8 / 13;
    border: 0;
  }
  .order__header
  {
    background-color: transparent;
  }
  .button
  {
    color: black;
    button{
      color: black;
    }
  }
}
