.Service
{
    width: 60%;
    margin: 0 auto;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 1.2;
    margin-top:7%;
}
.ServiceItems
{
}
.ContainerServiceItems
{
    display: flex;
    grid-auto-flow:column ;
    grid-template-columns:repeat(auto-fill, minmax(33%,1fr));
    justify-content: center;
    flex-wrap: nowrap;
} 
.ContainerServiceItems > * 
{
}
.ServiceTitle
{
    width: 100%;
    text-transform: uppercase;
    :first-child
    {
        font-size: 30px;
        margin-bottom: 0;
    }
    :last-child
    {
        width: 100%;
        text-align: justify;
        font-size: 5.3vw;
        text-decoration: solid;
        color: transparent;
        -webkit-text-stroke: 0.25px rgba(255, 255, 255, 0.2);
        :after
        {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }
}

div[class~=ServiveButton]
{
    font-size: smaller;
    text-transform: uppercase;
    color: #FDDD0A;
    position: relative;
    /* after: {

    } */
}
.ServiceItem
{
    margin-top: 5%;
    .Item 
    {
        margin-left: 20px;
        margin-top: 5%;
    }
    a
    {
        :hover
        {
            .ServiceItem_Arrow
            {
                display: none;
            } 
        }   
    }
    
}
.ServiceItem_Arrow
{
    position: absolute;
    top: -2px;
    width: 20px;
    height: 20px;
}
.ServiceItem_Icon
{

}

.ServiceItem_Title
{
    font-weight: 600;
    text-transform: uppercase;
    margin: 5% 0;
}
.ServiceItem_Text
{

    font-weight: 250;
    position: relative;
    font-family: 'Alexandria';
    color: #B6B6B6;
    line-height: 25.5px;
    p
    {

    }

}
.ServiceItem
{
    margin-right: 5%;

    a{
        font-size:17px;
    }
    
}


@media screen and (max-width:1250px)
{
    .ContainerServiceItems
    {
        flex-wrap: wrap;
    }
    .ServiceTitle
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 32px;
        :last-child {
            width: auto;
            font-size: 48px;
    }
    }
    .Service{
        width: 100%;
        margin: 0 5%;
        margin-top: 10%;
    }
}
@media screen and (max-width: 670px)
{
   
   
}