.wrapper_Projects 
{
  color: white;
  margin-top: 5%;
}
.wrapper_Projects_container
{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

.wrapper_Projects__title 
{
    font-family: "Alexandria", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    :first-child
    {
        font-size:calc(36px + 16 * (100vw / 1980));
    }
    :last-child
    {
        font-weight: 600;
        border-radius: 1px;
        color: rgba(0, 0, 0, 0.1); 
        -webkit-text-stroke: 0.4px rgb(80, 80, 80);
        font-size:calc(84px + 16 * (100vw / 1980));
    }
}
.wrapper_Projects__body {
  
}
.wrapper_Projects__container {
   
}
.wrapper_Projects {
}
.wrapper_Projects__project {
   display: flex;
   flex-direction: column;
   margin-bottom: 5%;
}
.wrapper_Projects_body_title {
    font-size:calc(32px + 17 * (100vw / 1980));
    margin-bottom: 1%;
}
.wrapper_Projects_body_project
{
    position: relative;
   
    width: auto;
    img{
        width: 100%;
    }
}
.wrapper_Projects_body_project::after
{
        position: absolute;
        content: 'VIEW PROJECT ->';
        color: #FDDD0A;
        top: 50%;
        right: 50%;
        opacity: 0;
}
.wrapper_Projects_body_project img:hover
{ transition: all 0.5s ease-out;
    border-bottom:5px solid #FDDD0A;
    border-left:5px solid #FDDD0A;
    opacity: 0.5;
}
.wrapper_Projects_body_project:hover::after
{ 
    opacity: 1;
}
.wrapper_Projects__button
{
    display: flex;
    justify-content: center;
    border: 1px solid #FDDD0A;
    padding: 2.5%;
    font-size: 1rem;
    font-family: 'Poppins';
    color: #FDDD0A;
    button
    {
        text-transform: uppercase;
        color: #FDDD0A;
        font-size: 1rem;
        border: 0;
        background-color: transparent;
    }
    :last-child
    {
      position: relative;
      margin-left: 0.5%;
      top: 13px;
      font-size: 1.4em;
    }
}

@media screen and (min-width: 670px)and (max-width: 1352px)
{

}

@media screen and (max-width: 670px)
{
    .wrapper_Projects_body_title
    {
        font-size:calc(15px + 15 * (100vw / 1980));
    }
    .wrapper_Projects__title
    {
        :last-child
        {
            font-size:calc(45px + 15 * (100vw / 1980));
        }
    }
}