.wrapper_Projects {
  color: white;
  margin-top: 5%;
  width: 60%;
  margin: 0 auto;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.2;
  margin-top: 7%;
  position: relative;
  z-index: 1;
}
.wrapper_Projects_container {
  display: grid;
  flex-direction: column;
  align-content: center;
}

.wrapper_Projects__title {
  font-family: "Alexandria", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  :first-child {
    font-size: calc(36px + 16 * (100vw / 1980));
  }
  :last-child {
    font-size: calc(84px + 16 * (100vw / 1980));
    font-weight: 700;
    border-radius: 1px;
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 0.5px rgb(80, 80, 80);
    font-family:'Poppins';
    color: transparent;
  }
}
.wrapper_Projects__project {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}
.wrapper_Projects__body {
  display: grid;
  gap: 52px 32px;
}
.wrapper_Projects_body_title {
  font-size: calc(16px + 17 * (100vw / 1980));
  transform: rotate(180deg);
  display: inline;
  writing-mode: vertical-rl;
  font-weight: 300;
  line-height: 32px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-right:20px;
}
.wrapper_Projects_body_project {
  position: relative;

  width: auto;
  img {
    width: 100%;
  }
}
.wrapper_Projects_body_project::after {
  position: absolute;
  content: "VIEW PROJECT ->";
  color: #fddd0a;
  top: 50%;
  right: 50%;
  opacity: 0;
}
.wrapper_Projects_body_project img:hover {
  transition: all 0.5s ease-out;
  border-bottom: 5px solid #fddd0a;
  border-left: 5px solid #fddd0a;
  opacity: 0.5;
}
.wrapper_Projects_body_project:hover::after {
  opacity: 1;
}
.wrapper_Projects__button {
  transition: all ease 1000ms;
  display: flex;
  justify-content: center;
  border: 1px solid #fddd0a;
  padding: 2.5%;
  font-size: 1rem;
  font-family: "Poppins";
  color: #fddd0a;
  background: linear-gradient(to left, transparent 50%, #fddd0a 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
  width: auto;
  button {
    text-transform: uppercase;
    color: #fddd0a;
    font-size: 1rem;
    border: 0;
    background-color: transparent;
  }
  :last-child {
    position: relative;
    font-size: 1.4em;
  }
}
.wrapper_Projects__button:hover {
  background-position: left;
  color: black;
  button {
    text-transform: uppercase;
    color: black;
  }
}
@media screen and (max-width: 1250px) {
  .wrapper_Projects{
    width: 100%;
    padding: 0 5%;
    margin-top: 10%;
  }
}


@media screen and (max-width: 670px) {
  .wrapper_Projects_body_title {
    font-size: calc(15px + 15 * (100vw / 1980));
  }
  .wrapper_Projects__title {
    :last-child {
      font-size: calc(45px + 15 * (100vw / 1980));
    }
  }
}
@media (prefers-color-scheme: light) {
  .wrapper_Projects 
  {
    color: black !important;
  }
  .wrapper_Projects__button {
    color: black;
    border: 1px solid black;

    button {

      color: black;
    }
  }
  .wrapper_Projects__button:hover {
    background-position: left;
    color: black;
    button {
      text-transform: uppercase;
      color: black;
    }
  }
}