.profile {
  color: white;
  width: auto;
  background: #000000 url("../../assets/Profile/ProfileBackground.webp")
    no-repeat center / cover;
  height: auto;
  margin-top: 1rem;
  padding: 1em;
  min-height: 50rem;
  display: flex;
  align-items: center;
  font-family: "Poppins";
}
.profile_body div.fff {
  font-size: 120px;
}
.profile_avatar {
  padding: 4rem;
  margin: 3rem;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(82, 82, 82, 0.5);
  max-width: 30rem;
}
.profile_registation__date {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Alexandria";

}
.profile_image {

  img {
    max-width: 10rem;
    border-radius: 5%;
    border: 3px solid rgb(123, 123, 123);
  }
}
.profile_wrapper {
  width: 100%;
  min-height: 30rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(11, 11, 11, 0.7);
  padding: 3rem;
}
.profile_body {
  div {
    border: 1px solid rgb(164, 164, 164);
    max-width: 30rem;
    padding: 1em;
  }
}
.profile_body * {
  margin: 10px;
}
.name {
}
.email {
}
.status {
}
.id {
}
