*:focus-visible {
  border: 3px solid white;
  border-radius: 1%;
}
.Orders {
  white-space: nowrap;
  z-index: 49;
  color: white;
  margin-bottom: 20%;
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  margin-top: 5%;
}
.Orders__body {
  display: flex;
  width: 100%;
  margin-top: 5%;
}
.Orders__aside {
  width: 20%;
  h2 {
    margin-bottom: 2em;
  }
}
.filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  margin: 1em 0;
  .filter__head {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}
.filter:hover svg:last-child {
  color: rgb(44, 44, 43);
  border-radius: 50%;
  background-color: #fddd0a;
}
.Orders__cards__searching {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, max-content));
  gap: 1em;
  justify-content: space-between;
  input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 17px;
    width: 92%;
  }
  select {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 17px;
    padding: 0.2em;
    width: 100%;
    option {
      color: black;
    }
  }
}
.searching {
  cursor: pointer;
  width: 20rem;
  border: 1px solid white;
  padding: 0.2em;
}
.Search__body {
  width: 30%;
  border: 1px solid white;
}
.Orders__cards {
  width: 80%;
  padding-left: 5em;
}
.Orders__container {
  margin: 0 5%;
}
.Orders__title {
  h1 {
    font-size: calc(50px + 10 * (100vw / 1980));
    font-weight: 400;
    text-wrap: balance;
  }
}
.title__list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}
.title__list ul li {
  position: relative;
  margin-left: 30px;
}
.title__list ul li::after {
  position: absolute;
  content: "✔";
  top: 0;
  left: -25px;
  width: 1.5em;
  height: 1.5em;
  color: black;
}
.title__list ul li::before {
  position: absolute;
  content: "";
  top: 0;
  left: -31px;
  width: 1.5em;
  height: 1.5em;
  background-color: #fddd0a;
  border-radius: 50%;
}
.button {
  transition: all ease 1000ms;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 2.5%;
  font-size: 1rem;
  font-family: "Poppins";
  color: white;
  background: linear-gradient(to left, transparent 50%, #fddd0a 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
  width: auto;
  margin: 10px 5px;
  button {
    text-transform: uppercase;
    color: black;
    font-size: 1rem;
    border: 0;
    background-color: transparent;
  }
  :last-child {
    position: relative;
    font-size: 1.3em;
    top: 1px;
  }
}
.button:focus-within {
  background-position: left;
  color: white;
  button {
    text-transform: uppercase;
    color: black;
  }
}
.select:focus-within {
  background-color: red;
}
.button:hover {
  background-position: left;
  color: white;
  button {
    text-transform: uppercase;
    color: black;
  }
}
.orders__body__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, max-content));
  gap: 1em;
  position: relative;
  margin-top: 3%;
}
.car {
  max-height: 80rem;
  min-width: 15rem;
  max-width: 38rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.car__image {
  display: flex;
  justify-content: center;
  img {
    width: 80%;
    max-width: auto;
    height: 18rem;
    padding-top: 2em;
  }
}
.description {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 1em;
  min-height: 120px;
  min-height: 100px;
}
.consumption {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.consumption *:not(p) {
  display: flex;
  justify-content: space-between;
}
.consumption__CO2 {
  display: flex;
  justify-content: space-between;
}
.description__item {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(139, 139, 139);
  padding: 0 10px;
  margin: 10px;
  :first-child {
    color: black;
    margin: 1px 5px;
  }
}
.types {
  min-width: 10rem;
  max-width: 33rem;
}
.types__container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.prices {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.prices * {
  padding: 30px 20px 20px 20px;
  background-color: rgb(68, 67, 67);
  width: 50%;
  margin: 0 0.4em;
  border-radius: 10px;
}
.prices__price {
  position: relative;
}
.prices__price::before {
  content: "Recommended price manufacturer";
  position: absolute;
  top: 7px;
  font-size: 12px;
  font-weight: 400;
}
.prices__monthlyrent {
  position: relative;
}
.prices__monthlyrent::before {
  content: "Monthly rent";
  position: absolute;
  top: 7px;
  font-size: 12px;
  font-weight: 400;
}

.types *:not(svg) {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
  svg {
    margin: 0 10px;
    color: rgb(0, 0, 0);
  }
}

.category {
  margin-top: 1em;
  img {
    max-width: 9rem;
  }
}
.selectedPage {
  font-weight: bold;
}
.counterPages__body {
  margin-top: 1em;
  span {
    font-size: calc(12px + 10 * (100vw / 1980));
    margin: 0 1em 0 0;
  }
}
.car {
  background-color: rgb(97, 97, 97);
  border-radius: 5px;
  padding: 20px;
  header {
    display: flex;
    justify-content: center;
    font-size: calc(18px + 10 * (100vw / 1980));
    padding-top: 1.5em;
  }
}
@keyframes arrow {
  0%,
  100% {
    transform: translate(0, 1px);
  }

  50% {
    transform: translate(0px, -7px);
  }
}
@media screen and (max-width: 920px) {
  .Orders__aside {
    display: none;
  }
  .Orders__cards {
    padding-left: 0;
  }
}
@media screen and (max-width: 680px) {
  .consumption p{
   padding-right: 0.5em;
  }
  .types *:not(svg)
  {
    margin-top: 0.5em;
  }
  .searching{
    width: 17rem;
  }
  .car {
    max-width: 29rem;
  }
  .car__image {
    width: 26rem;
  }
  .prices {
    margin-top: 1rem;
    flex-direction: column;
    padding: 20px 0;
  }
  .prices * {
    width: 65%;
  }
  .prices *:not(:last-child) {
    margin-bottom: 20px;
  }
  .types {
    text-wrap: pretty;
    display: block;
  }
  .category {
    padding: 0 5px;
  }
}
@media screen and (max-width: 500px) {
  .car {
    max-width: 18rem; 
    padding: 0;
    header {
      text-wrap: wrap;
      margin: 10px;
    }
  }
  .car__image {
    width: 18rem;
    padding: 15px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .consumption {
    font-size: 15px;
    padding: 0 5px;
  }
  .consumption p{
    text-wrap: wrap;
    font-weight: 600;
    font-family:'Poppins';   
    font-size: 18px;
  }
  .consumption *:not(p) {
    flex-direction: column;
  }
  .consumption__CO2 {
    flex-direction: column;
    font-size: 15px;
    padding: 0 5px;
    :first-child{
      text-wrap: wrap;
      font-weight: 600;
      font-family:'Poppins';   
      font-size: 18px;
    }
  }
  .prices {
    margin-top: 1rem;
    flex-direction: column;
    padding: 20px 0;
  }
  .prices * {
    width: 90%;
  }
  .prices *:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 670px) {
  .OrdersBody {
    margin: 0;
    margin-top: 20%;
    width: 100%;
    margin-bottom: 90%;
    min-height: 800px;
  }
  .OrdersBody::after {
    display: none;
  }
  .OrdersBodyTitle:first-child {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .description {
    text-wrap: wrap;
  }
  .description__item:first-child {
    font-size: 1em;
  }
}
