.Orders
{
    margin-top: 5%;
    white-space: nowrap;
    z-index: 49;
    color: white;
    margin-bottom: 20%;
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
}
.OrdersImgs
{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url(/src/Components/img/Orders/Background.png) no-repeat,
    linear-gradient(to top, black -15%, transparent 90%);
    background-clip: border-box;
    background-origin:border-box;
    background-size: 100% auto;
    opacity: 0.4;
    width: 100%;
    height: calc(70%);
    position: absolute;
    top: 0%;
}
.OrdersTitle
{
    height: 100%;
}
.OrdersTitle a
{
    text-decoration: none;
    color: white;
}

.OrdersBody
{
   display: flex;
   position: relative;
   z-index: 1;
   height: 500px;
   margin: 10% 15%;
   width: 70%;
   padding-bottom: 20px;
}
.OrdersBody::after
{
  content: '';
  position: absolute;
  height: 1px;
  background-color: white;
  width:100%;
  bottom: -15%;

}
.OrdersBodyTitle
{
    
    height: 100%;
    width: 100%;
    p:first-child
    {
        font-size: 52px;
        font-family: 'Poppins';
        text-transform: uppercase;
        font-weight: 700;
    }
}
.OrdersBodyTitle__Title
{
    width:auto;
    position: absolute;
    right: 0;
    font-size: calc(50px + 50 * (100vw / 1980));
    font-weight: 200;
    font-family: 'Alexandria';
    z-index: 10000;
    top: 15%;
}
.OrdersBodyTitleAlbum
{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    table {
        min-width: 100px
    }
    :last-child
    {
        width:70%;
    }
    caption
    {
        text-transform: uppercase;
    }
    tbody
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 30%;
        margin-left: 100px;
    }
    th
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #B6B6B6;
        font-weight:700;
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
    }
    td{
        color: white;
        font-weight: 200;
        font-family: "Alexandria";
        font-size: 24px;
        text-align: left;
        padding-top: 10px;
    }
    img
    {
        height:100%;
        width: 50%;
        margin-left: 10%;
    }
}
.swiper {
    width: 120%;
}
.OrdersBodyTitleAlbum
{
 
}
.OrdersBodyTitleAlbum tbody th:nth-child(even)
{
    margin-left: 10%;
}
.OrdersBodyButtons{
   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    transition: all ease 1500s;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10000;
}
.OrdersBodyButtons button{
    
    background-color: transparent;
    border: 1px solid white;
    min-width: 50px;
    min-height: 50px;
    position: relative;
    margin-left: 20%;
    margin-bottom: -60%;
    :first-child
    {
        position: absolute;
        color: white;
        width: 20px;
        height: 20px;
        inset: 25%;
        top: 30%;
    }
}
.OrdersBodyButtons button:hover
{
    background-color: #FDDD0A;
    :first-child
    {
        color: black;
    }
}
.OrdersContainer
{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    height: 100%;
    width: 50%;
}
.OrdersTitleButton
{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30%;
    margin-bottom:30%;
    cursor: pointer;
    text-decoration: none;
    :first-child
    {
        position: relative;
        top: 4px;
    }
    :last-child
    {
        margin-left: 2%;
    }

}
.OrdersTitleBody{
    height: 70%;
}
.OrdersTitleBodyMenu
{
    padding-bottom: 8%;
    :first-child
    {
        font-size: calc(50px + 50 * (100vw / 1980));
    }
}
.OrdersTitleBodyButton
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.OrdersTitleBodyButton
{
    transition: all 1s ease;
}
.OrdersTitleBodyButton a
{
    color: white;
    display: block;
    position: relative;
    width: 53px;
    height: 53px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 3%;
}
.OrdersTitleBodyButtonArrow
{
    animation: arrow  1.5s ease-in-out infinite;
    display: inline-block; 
    position: absolute;
    width: 25px;
    height:25px;
    inset: 25%;
}
@keyframes arrow {
	0%,
	100% {
	  transform: translate(0, 1px);
	}
  
	50% {
	  transform: translate(0px, -7px);
	}
}

@media screen and (min-width:1450px)
{
  
}

@media screen and (max-width:1000px)
{
    

}
@media screen and (max-width:1450px){
    .OrdersBody::after
    {
        display: none;
    }
    .OrdersBodyButtons
    {
        right: 20px;
    }
    .OrdersBodyButtons button
    {
        top: 0;
        margin-bottom:calc(130%);
    }
    .OrdersBodyTitleAlbum
    {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        table
        {
            font-size: 20px;
        }
        tbody{
            margin: 0;
        }
        img {
            margin: 0;
        }
      
    }
    .OrdersBody
    {
        height:600px;
        margin-bottom: 90%;
    }
  
}
@media screen and (max-width: 670px)
{
    .OrdersBody
    {
        margin: 0;
        width: 100%;
        height:600px;
        margin-bottom: 90%;
    }
    .OrdersBodyButtons button
    {
        top: 0;
        margin-bottom:calc(-130%);
    }
    .OrdersBody::after
    {
        display: none;
    }
    .OrdersBodyTitle
    {
        p:first-child
        {
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
    .OrdersBodyTitleAlbum
    {
        display: grid;
        grid-template-columns: 0.8fr;
        table
        {
            font-size: 20px;
        }
        tbody{
            margin: 0;
        }
      
    }
    .OrdersContainer
    {
        width: 100%;
        margin: 0 3%;
    }
    .OrdersTitleBodyMenu
    {
        :last-child
        {
            text-wrap: wrap;
            width: 90%;
        }
    }
}

