.notFound {
  display: flex;
  width: 100%;
  color: white;
  min-height: 640px;
  max-height: 750px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: calc(42px + 16 * (100vw / 1980));
  line-height: 93.6px;
}
.notFound__left_content {
  position: relative;
  width: 30%;
  z-index: 200;
  background: url(/src/assets/NotFound/Elements\ big.svg) no-repeat center /
    cover;
  background-clip: border-box;
  background-position: 50% center;
  img {
    position: absolute;
    left: 28%;
    padding: 1rem;
    top: 40%;
    transform: translate(-50%);
  }
}
.notFound__main_content {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 40%;
  margin-top: 8%;
  z-index: 1;
  text-align: center;
  img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10%;
  }
  header {
    margin-bottom: 5%;
  }
  p {
    font-size: calc(14px + 6 * (100vw / 1980));
    line-height: 26px;
    font-weight: 300;
  }
}
.notFound__main_content button{

  color: #fddd0a;

}
.button{
  transition: all ease 1000ms;
  border: 1px solid #fddd0a;
  padding: 1.5%;
  font-size: 0.7rem;
  font-family: "Poppins";
  color: #fddd0a;
  background: linear-gradient(to left, transparent 50%, #fddd0a 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
  position: relative;
  button {
    text-transform: uppercase;
    font-size: 1rem;
    border: 0;
    background-color: transparent;
  }
  .button__arrow {
    position: relative;
    bottom: 0;
    top: 5px;
    font-size: 2em;
  }
}
.button:hover {
  background-position: left;
  color: black;
  button {
    text-transform: uppercase;
    color: black;
  }
}
.notFound__right_content {
  width: 30%;
  position: relative;
  img {
    position: absolute;
    bottom: 5%;
    left: 50%;
  }
  z-index: 3;
}

@media screen and (max-width: 1067px) {
  .notFound__left_content {
    display: none;
  }
  .notFound__main_content {
    width: 100%;
    margin: 0 auto;
  }
  .notFound__right_content {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .notFound {
      margin-top: 15%;
  }
}
@media (prefers-color-scheme: light) {
  .notFound
  {
    color: black;
  }
  .button
  {
    border: 1px solid black;
    color: #000;
  }
  .button button
  {
    color: #000;
  }
}