.industry {
  color: white;
  margin-top: 5%;
  width: 60%;
  margin: 0 auto;
  color: white;
  font-family: "RoadRadio";
  font-weight: 700;
  line-height: 1.2;
  margin-top: 7%;
  position: relative;
  z-index: 1;
}
.industry__title {
  font-weight: 700;
  text-align: left;
  margin-bottom: 50px;
  :first-child {
    font-size: calc(36px + 16*(100vw / 1980));
    line-height: 52px;
  }
  :last-child {
    font-size: calc(84px + 16*(100vw / 1980));
    font-weight: 700;
    border-radius: 1px;
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 0.5px rgb(80, 80, 80);
    color: transparent;
  }
}
.industry__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(170px, 1fr));
  gap: 35px 35px;
}
.industry__item {
  border: 1px solid #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 35px;
  color: white;
  transition: all ease 0.3s;
  min-width: 253px;
  min-height: 132px;
  h2 {

    text-wrap: wrap;
  }
}
.industry__item:hover 
{
  border-left: 4px solid #fddd0a;
  border-bottom: 4px solid #fddd0a;
}
.industry__element
{
  position: absolute;
  bottom: -100px;
  right: -100px;
}
@media screen and (max-width: 1250px) {
  .industry {
    width: 100%;
    padding: 0 5%;
  }
  .industry__element
  {
    position: absolute;
    bottom: -50px;
    right: 20px;
  }
  .industry__title {
    :first-child {
      font-size: calc(32px + 16*(100vw / 1980));
      line-height: 52px;
    }
    :last-child {
      font-size: calc(50px + 15*(100vw / 1980));
    }
  }
  .industry__item {
    h2 {
      padding: 10px 10px;
    }
  }
}


@media screen and (max-width: 670px) {
  .industry__element
  {
    display: none;
  }
  .industry__title {
    :first-child {
      font-size: calc(21px + 16*(100vw / 1980));
      line-height: 52px;
    }
    :last-child {
      font-size: calc(40px + 15*(100vw / 1980));
      -webkit-text-stroke: 1px rgb(80, 80, 80);
      text-wrap: pretty;
    }
  }
}
