@font-face {
    font-family: 'RoadRadio';
    src: url('../fonts/RoadRadio.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RoadRadio';
    src: url('../fonts/RoadRadio-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RoadRadio';
    src: url('../fonts/RoadRadio-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RoadRadio-Black';
    src: url('../fonts/RoadRadio-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RoadRadio';
    src: url('../fonts/RoadRadio-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}



