.CookiesPrivacy {
    position:fixed;
    z-index: 100000;
    width: 100%;
    background-color: #FDDD0A;
    height: 66px;
    bottom: 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    font-family:"Quicksand", sans-serif;
    transition: right 0.3s ease;
  }
  .CookiesPrivacy.show {
    right: 20px;
  }
  .CookiesPrivacy_body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px;
    width: 50%;
  }
  .CookiesPrivacy_body__title {
    font-size: 18px;
    width: 30%;
    font-weight: 600;
  }
  .CookiesPrivacy_body__description {
    width: 80%;
    color: #B6B6B6;
  }
  
  .CookiesPrivacy_body__informationBody {
    display: flex;
    width: 50%;
    float: right;
    justify-content:flex-end;
    align-items: center;
  }
  .CookiesPrivacy_body__informationBody p{
    text-transform: uppercase;
    border-bottom: 1.4px solid black;
  }
  .CookiesPrivacy_body__informationBody button{
    color: #000000;
      border: 1px solid #000000;
    background-color: transparent;
      padding: 10px 18px;
      margin-left:50px;
  }

 @media screen and (max-width:970px)
 {
    .CookiesPrivacy
    {
        height: 164px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .CookiesPrivacy
    {
        padding: 0 2%;
    }
    .CookiesPrivacy
    {
        display: block;
    }
    .CookiesPrivacy_body
    {
        display: block;
        width: 70%;
    }
    .CookiesPrivacy_body__title 
    {
        width: 100%;
        padding-bottom: 2.5%;
    }
    .CookiesPrivacy_body__description
    {
        width: 100%;
    }
} 
@media screen and (max-width:780px)
{
    .CookiesPrivacy_body
    {
        margin-bottom: 3%;
        width: 100%;
    }
    .CookiesPrivacy_body__informationBody
    {
        width: 100%;
    }
}