.Home
{  
    margin-top: 5%;
    white-space: nowrap;
    z-index: 49;
    color: white;
    margin-bottom: 20%;
    width: 100%;
    height: auto;
}   
.HomeTitleWithCube
{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 10000;
    margin-top: 2%;
}
.HomeImgs
{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,1)), url(/src/Components/img/HomePage/Expiriens.jpg) no-repeat,
    linear-gradient(to top, black -15%, transparent 90%);
    background-clip: border-box;
    background-origin:border-box;
    background-size: auto;
    opacity: 0.6;
    background-size: 100% calc(70% / 2);
    width: 100%;
    height: calc(200% / 2);
    position: absolute;
    top: 0%;
    transition: transform 0.5s ease;
}


.HomeCointaner
{
    width: 100%;
}
.HomeTitle{
    
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: calc(60px + 50 * (100vw / 1980));
    display: grid;
    grid-template-columns: 1fr;
    line-height: 1.2;
    
    :first-child
    {
        color: #FDDD0A;
        font-size: calc(15px + 10.25 * (100vw / 1980));
        margin-left: 10%;
    }
    :nth-child(2)
    {
        color: transparent;
        -webkit-text-stroke: 0.7px rgb(255, 255, 255);
        -webkit-background-clip: text;
        margin-left: 30%;
    }
    :nth-child(3)
    {
        margin-left: 10%;
    }
    :nth-last-child(2)
    {
        margin-left:30%;
    }
    :last-child
    {
        color: transparent;
        -webkit-text-stroke: 0.7px rgb(255, 255, 255);
        -webkit-background-clip: text;
    }
}
.HomeTitle:first-child 
{ 
   
}
.HomeTitleCube
{
    margin-top: 13%;
}
.HomeButton
{
    transition: all 1s ease;
}
.HomeButton a
{
    margin: 0 auto;

}
.HomeButton a
{
    color: white;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 53px;
    height: 53px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;

}
.HomeButton a *
{
    animation: arrow  1.5s ease-in-out infinite;
    
    display: inline-block; 
    position: absolute;
    width: 25px;
    height:25px;
    inset: 25%;
}
@keyframes arrow {
	0%,
	100% {
	  transform: translate(0, 1px);
	}
  
	50% {
	  transform: translate(0px, -7px);
	}
}




.WeWhoWeAreContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;
    width: 100%;
}
.WeWhoWeAreContainerLeft{
    display: flex;
    flex-direction: column;
    width: 10%;
}
.WeWhoWeAreContainerRight
{
    display: flex;
    flex-direction: column-reverse;
    width: 10%;
    :last-child
    {
        margin-right: 10%;
    }
}



.WeWhoWeAreContainerMain{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.WeWhoWeAreContainerMain__body
{
    display: flex;
    
}
.WeWhoWeAreContainerMain__textWithVideo
{
    margin-right: 10%;
    color: #B6B6B6;
    font-family: 'Alexandria';
    font-size: calc(14px + 2 * (100vw / 1980));
    line-height: 25.5px;
    text-wrap: pretty;
    :first-child
    {  
        font-size: calc(19px + 5 * (100vw / 1980));
        font-family: 'Poppins';
        color: white;
    }
    :nth-child(2)
    {
        margin-top:2%;
        margin-bottom: 5%;
    }
}

.WeWhoWeAreContainerMain_VideoContainar
{
    position: relative;
    cursor: pointer;
    width: 348px;
    height: 348px;
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
     video {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover !important;
        border-radius: 10px !important;
        z-index: 2;
    }
 
}
.videoEnter
{
    position: absolute;
    width: 32px;
    height: 42px;
  
    left: 0; 
    right: -10px; 
    top: 42%;
    margin-inline: auto; 
    background: url(../img//Icons/Play_icon.png) 100% no-repeat;
    border: 0;
    transition: all 500ms ease;
    z-index: 100;
}
.videoEnter:hover
{
    transform: scale(1.2);
}
.WeWhoWeAreContainerMain_VideoContainar::after
{
    content: '';
    position: absolute;
    border: 1px solid #FDDD0A;
    left: 0; 
    right: 0; 
    top: 20px;
    margin-inline: auto; 
    border-radius: 50%;
    width: 90%;
    height: 90%;
    z-index:10;
    opacity: 0.5;
}

.WeWhoWeAreContainerMain__title
{
   font-size: calc(52px + 24 * (100vw / 1980));
   font-family: 'Poppins';
   font-weight: 600;
   text-transform: uppercase;
    :first-child{
        line-height: 1;
    }
    :last-child
    { 
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0.5px rgb(255, 255, 255,0.2);
        font-weight: bold;
        display:block;
        font-size: calc(80px + 24 * (100vw / 1980));
    }
}
.WeWhoWeAreContainerMain__textWithClutch
{
    position: relative;
    .cube
    {
       padding-left: 10%;
        padding-top: 5%;
    }
}
.WeWhoWeAreContainerMain__textWithClutch_body
{
    color: #B6B6B6;
    font-family: 'Alexandria';
    font-size: calc(14px + 2 * (100vw / 1980));
    line-height: 25.5px;
    text-wrap: pretty;
    :first-child
    {  
        font-size: calc(19px + 5 * (100vw / 1980));
        font-family: 'Poppins';
        color: white;
  
    }
    :nth-child(2)
    {
        margin-top:2%;
        margin-bottom: 5%;
    }
  
}
.WeWhoWeAreContainerMain__Clutch
{
    margin-top: 5%;
}


.inputVolume
{
    opacity: 0;
    width: 100%;
    color: #000;
    accent-color: #FDDD0A;
    transition: all 1200ms ease;
}
@media screen and (min-width:1450px)
{
    .HomeImgs
    {
        background-size: 100% 100%;
        height: 100%;
    }
}

@media screen and (max-width:1000px)
{
    .WeWhoWeAreContainerMain__body
    {
        flex-direction: column;
    }

}
@media screen and (max-width:1450px){
    .HomeImgs
    {
        background-size: 100% 70%;
        height: 85%;
    }
    .WeWhoWeAreContainerLeft
    {
        display: none;
    }
    .WeWhoWeAreContainerRight
    {
        display: none;
    }
    .WeWhoWeAreContainerMain
    {
        width: 100%;
        margin: 0 5%;
    }
    .WeWhoWeAreContainerMain__title
    {
       font-size: calc(52px + 7 * (100vw / 1980));
        :last-child
        { 
            font-size: calc(80px + 5 * (100vw / 1980));
        }
    }


    .HomeTitle {
        font-weight: 600;
        :first-child
        {
            margin-left: 0%;
        }
        :nth-child(2)
        {
            margin-left: 0%;
        }
        :nth-child(3)
        {
            margin-left: 0%;
        }
        :nth-last-child(2)
        {
            margin-left:0%;
        }
    }
}
@media screen and (max-width: 670px)
{
    .WeWhoWeAreContainerMain_VideoContainar
    {
        width: 250px;
        height: 250px;
        margin-bottom: 10%;
    }
    .WeWhoWeAreContainerMain__title
    {
       font-size: calc(29px + 7 * (100vw / 1980));
        :last-child
        { 
            font-size: calc(40px + 5 * (100vw / 1980));
        }
    }
    .HomeImgs
    {
        background-size: 100% 70%;
        height: 60%;
    }
    .HomeTitleWithCube {
        margin: 0;
    }
    .HomeTitle {
        font-weight: 600;
        margin: 0 5%;
        font-size: 50px;
        :first-child
        {
            margin-left: 0%;
        }
        :nth-child(2)
        {
            margin-left: 0%;
        }
        :nth-child(3)
        {
            margin-left: 0%;
        }
        :nth-last-child(2)
        {
            margin-left:0%;
        }
    }
    .HomeTitleCube {
        position: absolute;
        right: 0;
        img{
            width: 72px;
            height: 72px;
        }
        
    }
}