.ContactUs {
  position: fixed;
  cursor: pointer;
  bottom: 1%;
  right: 2%;
  display: block;
  z-index: 47;
  transition: all 1s ease;
  :nth-child(1) {
    width: 90px;
    height: 90px;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  :last-child {
    color: #fddd0a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22.5px;
    height: 22.5px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-color-scheme: light) {
  .ContactUs
  {
    background-color: #585858;
    bottom: 10%;
    border-radius: 50%;
    padding: 2px;
  }
} */